trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  AWS_REGION: 'us-east-1'
  AWS_ACCOUNT_ID: '840021737375'
  ECR_REPOSITORY: 'jfc-ecommerce-dev-ecr-ecommerce-api'
  IMAGE_TAG: 'latest'
  AWS_SERVICE_CONNECTION: 'AWS-OIDC-Infra-Conn'
 
  ECS_CLUSTER_NAME: 'jfc-ecommerce-dev-cluster-api'
  ECS_SERVICE_NAME: 'jfc-ecommerce-dev-ecs-service-api-core'
  ECS_CONTAINER_NAME: 'app'

steps:
  - checkout: self

  # Comprobar AWS & Docker
  - script: |
      echo "AWS version:"
      aws --version || echo "aws cli not found"
      echo "Docker version:"
      docker --version || echo "docker not found"

      echo "Who am I in AWS?"
      aws sts get-caller-identity || echo "STS call failed"
    displayName: 'Check AWS & Docker'

  # Build & Push
  - task: AWSShellScript@1
    displayName: 'Build & Push Docker image to ECR'
    inputs:
      awsCredentials: $(AWS_SERVICE_CONNECTION)
      regionName: $(AWS_REGION)
      scriptType: 'inline'
      inlineScript: |
        echo "Login to ECR..."
        aws ecr get-login-password --region $(AWS_REGION) \
          | docker login --username AWS --password-stdin $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com

        echo "Build Docker image..."
        docker build -t $(ECR_REPOSITORY):$(IMAGE_TAG) .

        echo "Tag and push to ECR..."
        DOCKER_IMAGE_URL=$(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com/$(ECR_REPOSITORY):$(IMAGE_TAG)
        docker tag $(ECR_REPOSITORY):$(IMAGE_TAG) $DOCKER_IMAGE_URL
        docker push $DOCKER_IMAGE_URL

        echo "##vso[task.setvariable variable=FULL_IMAGE_URL]$DOCKER_IMAGE_URL"
        echo "Image pushed: $DOCKER_IMAGE_URL"


  # Forzar nuevo deployment en ECS
  - task: AWSShellScript@1
    displayName: 'Force new ECS deployment'
    inputs:
      awsCredentials: $(AWS_SERVICE_CONNECTION)
      regionName: $(AWS_REGION)
      scriptType: 'inline'
      inlineScript: |
        echo "Updating ECS service to force new deployment..."
        aws ecs update-service \
          --cluster $(ECS_CLUSTER_NAME) \
          --service $(ECS_SERVICE_NAME) \
          --force-new-deployment \
          --region $(AWS_REGION)

        echo "ECS service update triggered."
